/*HARD RESET*/

* {
    margin: 0;
    padding: 0;
}

/*STYLING BEINGS*/

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.highlight {
    color: #e8491d;
    font-weight: bold;
}

.btn {
    height: 35px;
    background-color: #e8491d;
    border: 0px;
    padding: 0 20px;
    color: #fff;
}

.dark {
    background-color: #35424a;
    color: #ffffff;
    padding: 15px;
    margin: 15px 0px;
}

/*HEADER*/

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding {
    float: left;
}

header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/*SHOWCASE*/

#showcase {
    min-height: 400px;
    background: linear-gradient(rgba(53, 66, 74, 0.5), rgba(53, 66, 74, 0.7)), url('img/hero.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

/*NEWSLETTER*/

#newsletter {
    padding: 20px;
    color: #ffffff;
    background-color: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*BOXES*/

#boxes {
    margin-top: 30px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

#boxes .box img {
    width: 90px;
}

/*FOOTER*/

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
}

/*SIDEBAR*/

aside#sidebar {
    text-align: justify;
    float: right;
    width: 30%;
    margin-top: 10px;
}

/*ARTICLE*/

article#main-col {
    text-align: justify;
    float: left;
    width: 65%;
    margin-top: 10px;
}

/*SERVICES*/

ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background-color: #e6e6e6;
}

aside#sidebar .quote input, textarea{
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}